<div class="relative w-full h-[500px] md:h-[700px] bg-cover bg-center banner rounded-xl backdrop-blur-sm z-0">
  <!-- Overlay sombre -->
  <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col items-center justify-center text-center px-6 rounded-xl">
    
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-white drop-shadow-lg">
      Bienvenue sur <span class="text-blue-400">TechNova</span>
    </h1>
    
    <p class="text-lg md:text-xl text-gray-200 mt-4 max-w-2xl">
      Découvrez nos dernières innovations technologiques aux meilleurs prix.
    </p>
    
    <a routerLink="/products" class="mt-6 px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg shadow-lg hover:bg-blue-600 transition duration-300 ease-in-out transform hover:scale-105">Explorer la boutique</a>

  
  </div>
</div>