<footer class="footer bg-secondary border-2 border-t text-base-content p-10">
    <nav>
        <h6 class="footer-title">Aide</h6>
        <a href="#" class="link link-hover">Livraison</a>
        <a href="#" class="link link-hover">Retours & Échanges</a>
        <a href="#" class="link link-hover">FAQ</a>
        <a href="#" class="link link-hover">Comparer</a>
    </nav>
    <nav>
        <h6 class="footer-title">Entreprise</h6>
        <a href="#" class="link link-hover">À propos de nous</a>
        <a href="#" class="link link-hover">Contact</a>
        <a href="#" class="link link-hover">Offres d'emploi</a>
        <a href="#" class="link link-hover">Presse</a>
    </nav>
    <nav>
        <h6 class="footer-title">Légal</h6>
        <a href="#" class="link link-hover">Conditions d'utilisation</a>
        <a href="#" class="link link-hover">Politique de confidentialité</a>
        <a href="#" class="link link-hover">Politique des cookies</a>
    </nav>
</footer>
<footer class="footer bg-secondary px-10 py-4">
    <aside class="grid-flow-col items-center">
        <i class="fa-solid fa-truck-fast pe-3"></i>
        <p>
            Maxime Belin - Concepteur développeur d'applications
            <br>
            &copy; 2025 TechNova. Tous droits réservés.
        </p>
    </aside>

    <nav class="md:place-self-center md:justify-self-end">
        <div class="grid grid-flow-col gap-4">
            <a href="" aria-label="Twitter shop">
                <i class="fa-brands fa-x-twitter hover:text-blue-500 social-icon"></i>
            </a>
            <a href="" aria-label="Chaîne YouTube">
                <i class="fa-brands fa-youtube hover:text-blue-500 social-icon"></i>
            </a>
            <a href="" aria-label="Page Facebook">
                <i class="fa-brands fa-facebook hover:text-blue-500 social-icon"></i>
            </a>
        </div>
    </nav>
</footer>
