<div class="navbar bg-base-100 border">
    <div class="navbar-start">
        <div class="dropdown">
            <a class="btn btn-ghost text-xl">
                <div class="border-1 bg-secondary logo p-2 rounded-xl" routerLink="">TechNova</div>
            </a>
        </div>
    </div>
    <div class="navbar-center flex">
        <div class="menu menu-sm sm:menu-lg menu-horizontal px-1">
            <li><a href="/">Accueil</a></li>
            <li>
                <details #productsMenu>
                    <summary>Produits</summary>
                    <ul class="z-30">
                        <li><a href="/products">All</a></li>
                    </ul>
                </details>
            </li>
            @if (isAdmin) { 
                <li>
                    <details #adminMenu >
                        <summary>Admin</summary>
                        <ul class="z-30 w-56">
                            <li><a routerLink="/admin">Tableau de bord</a></li>
                        </ul>
                    </details>
                </li>
            }
        </div>
    </div>
    <div class="navbar-end pe-4 flex align-items-center">
        <div class="dropdown dropdown-menu pe-4">
            <div tabindex="0" role="button">
                <i class="fa-solid fa-user menu-icon"></i>
            </div>
            <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow -translate-x-28 ">
                @if (isLoggedIn || isAdmin) {
                    <li class="hover:bg-white/50"><button class="link  no-underline" routerLink="/user-dashboard">Tableau de bord</button></li>
                    <li class="hover:bg-white/50"><button class="link text-red-500 no-underline" (click)="logout()">Déconnexion</button></li>
                } @else {
                    <li class="hover:bg-white/50"><button class="link  no-underline" routerLink="/login">Connexion</button></li>
                }
            </ul>
        </div>
        <div class="dropdown dropdown-menu me-2" routerLink="/cart">
            <div tabindex="0" role="button">
                <i class="fa-solid fa-cart-shopping menu-icon"></i>
            </div>
        </div>
    </div>
</div>